<html>

<body ng-app="app">

    <form role="form" id ="taskForm" data-toggle="validator" name="singleCarForm" ng-controller="singleCtrl">
        <div>
            <div class="row">
            </div>
            <div class="form-group">
                <table class="table table-bordered car-form has-danger">
                    <tr>
                        <td class="col-md-2">Cost of Car</td>
                        <td><input required
                            class="form-control" 
                            name="cost"
                            type="number" id="carCost" 
                            ng-model="CarInfo.value" 
                            data-error="Bruh, that email address is invalid">
                            <div class="help-block with-errors"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Finance Rate</td>
                        <td><input required class="form-control" pattern="^[0-9]*[.]?[0-9]*$" type="number" id="carRate" ng-model="CarInfo.financeRate"></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Years Financed</td>
                        <td>  <select class="form-control" id="years">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td class="col-md-2"><label class="control-label">Tax percentage</label></td>
                        <td><input required class="form-control" type="number" id="carTax" ng-model="CarInfo.tax"></td>
                    </tr>                                                            
                    <tr>
                        <td class="col-md-2">Down Payment</td>
                        <td><input required class="form-control" type="number" id="carDown" ng-model="CarInfo.down"></td>
                    </tr>     
                </table>
            </div>
        </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-lg btn-primary" ng-click="calculate()";>Calculate</button>
    </div>        
    </form>

    <div id ="info" style="display:none">
        <table class="table table-bordered">
            <tr>   
                <td>BiWeekly</td>
                <td>{{biweekly}}</td>>
            </tr>            <tr>   
                <td>Monthly</td>
                <td>{{monthly}}</td>>
            </tr>
</body>

</html>