<html>

<body ng-app="app">
    <div ng-controller="singleCtrl">
        <form role="form" id="taskForm" data-toggle="validator" name="singleCarForm">
            <div>
                <div class="row">
                </div>
                <div class="form-group">
                    <table class="table table-bordered car-form has-danger">
                        <tr>
                            <td class="col-md-2">Cost of Car</td>
                            <td>
                                <div class="form-group has-feedback has-feedback-left">
                                    <input required class="form-control" name="cost" type="number" id="carCost" ng-model="CarInfo.value" <div class="help-block with-errors">
                                    <i class="form-control-feedback glyphicon glyphicon-usd"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">Finance Rate</td>
                            <td>
                                <div class="form-group has-feedback has-feedback-left">
                                    <input required class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" type="number" id="carRate" ng-model="CarInfo.financeRate">
                                    <i class="form-control-feedback fa-icon fa fa-percent"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">Years Financed</td>
                            <td> <select class="form-control" id="years" ng-model="CarInfo.years">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                        </select></td>
                        </tr>
                        <tr>
                            <td class="col-md-2">Tax percentage</td>
                            <td>
                                <div class="form-group has-feedback has-feedback-left ">
                                    <input required class="form-control col-sm-10" type="number" id="carDown" ng-model="CarInfo.tax">
                                    <i class="form-control-feedback fa-icon fa fa-percent"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">Down Payment</td>
                            <td>
                                <div class="form-group has-feedback has-feedback-left">
                                    <input required class="form-control col-sm-10" type="number" id="carDown" ng-model="CarInfo.down">
                                    <i class="form-control-feedback  glyphicon glyphicon-usd"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary" ng-click="calculate()">Calculate</button>
            </div>
        </form>

        <div id="info" style="">
<table class="table table-bordered">
    <tr>
        <td>Bi-Weekly</td>
        <td>{{biweekly}}</td>
    </tr>
    <tr>
        <td>Monthly</td>
        <td>{{monthly}}</td>
    </tr>

</table>
</div>
</body>

</html>